@model EditEventViewModel
@using PetCafe_Remake_.Models.Data.Enum
@using PetCafe_Remake_.ViewModels

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Contact</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact-us" class="contact-us">
      <div class="container">

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">


<form method="post" asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" id="AppUserId" name="AppUserId"/>
    <div class="row">
                <div class="col-md-6 form-group">
  <div class="form-group">
    <input asp-for="EventName" class="form-control" placeholder="Ex. Sport Day 2022">
    <span asp-valiadation-for="EventName" class="text-danger"></span>
  </div>
    </div>

     <!--select-->
<div class="col-md-6 form-group">
    <div class="form-group">
    <select asp-for="EventCategory" asp-items="@Html.GetEnumSelectList<EventCategory>()" class="form-control form-control-sm">
            <option selected="selected" value="">--Select--</option>
        </select>
         <span asp-validation-for="EventCategory" class="text-danger"></span>

         </div>
                  </div>

              <!--order table, table.column-->
     <div class="col-md-6 form-group">
  <div class="form-group">
    <input asp-for="EventTime" asp-format="{0:dd/MM/yyyy HH:mm}" class="form-control" />
    <span asp-valiadation-for="EventTime" class="text-danger"></span>
  </div>
  </div>




  <!---region-->
<div class="col-md-6 form-group">
  <div class="form-group">
    <input asp-for="Region" class="form-control" placeholder="Ex. England">
    <span asp-valiadation-for="Region" class="text-danger"></span>
  </div>
    </div>


  </div>
  <div class="form-group">
    <label asp-for="Introduction">Introduction</label>
    <textarea row="4" asp-for="Introduction" class="form-control" placeholder="There is nothing better than a fun event to break the monotony. That is why I am super excited for this event. Come out to this event and you will surely have a good time."></textarea>
    <span asp-valiadation-for="Introduction" class="text-danger"></span>
  </div>
      <div class="form-group">
    <label asp-for="Image">Image</label>
    <input asp-for="Image" class="form-control" placeholder="Ex..">
    <span asp-valiadation-for="Image" class="text-danger"></span>
  </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->